:root {
    --foreground: #512406;
    --secondary: #dd6413;
    --background: #fff9e9;
    --link: #1363ae;
    background-color: var(--background);
    color: var(--foreground);
    transition:
        color 0.2s,
        background-color 0.2s;

    --label-font-family: sans-serif;

    --title-font-family: Palatino, Palatino Linotype, Palatino LT STD,
        Book Antiqua, Georgia, serif;

    --title-font: 1.6rem/1.4 var(--title-font-family);
}

:root:has(#sans-serif-pls:checked) {
    --title-font-family: sans-serif;
    --label-font-family: sans-serif;
    --title-font: bold 1.2rem/1.4 var(--title-font-family);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #b8ab99;
        --background: #33170d;
        --secondary: #da521c;
        --link: #e7c124;
    }
}

:root:has(#dark-mode-pls:checked) {
    --foreground: #b8ab99;
    --background: #33170d;
    --secondary: #da521c;
    --link: #e7c124;
}

@media screen and (max-width: 900px) {
    :root {
        --title-font: bold 1.2rem/1.4 var(--title-font-family);
    }
}

.track-table {
    display: none;
}

:root:has(#one-column-pls:checked) .track-table {
    display: initial;
}

:root:has(#one-column-pls:checked) .big-table {
    display: none;
}

a {
    transition: color 0.2s;
    color: var(--link);
}

main {
    max-width: min(1000px, 100vw);
    margin: 0 auto;

    font: 1rem/1.4 var(--title-font-family);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: calc(600px + 6rem);
    /* border: 8px solid var(--secondary); */
}

.sched-section {
    overflow-x: auto;
}

table.single-track {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: calc(300px + 6rem);
    /* border: 8px solid var(--secondary); */
}

h2 {
    font: bold 1.3rem/1.5 var(--label-font-family);
    text-align: left;
}

th {
    font-family: var(--label-font-family);
}

thead th,
thead td {
    padding: 0.5ex 1em;
}

tbody th,
tbody td {
    padding: 2ex 1em;
    vertical-align: baseline;
}

thead tr:not(:first-child) th,
thead th:not(:first-child) {
    text-align: left;
}

thead {
    border-bottom: 2px solid var(--secondary);
}

tbody:not(:last-child) tr,
tbody:last-child tr:not(:last-child) {
    border-bottom: 1px solid var(--secondary);
}

col + col,
colgroup + colgroup {
    border-left: 1px dashed var(--secondary);
}

.multi-track colgroup:last-of-type col:last-child {
    border-right: 1px dashed var(--secondary);
}

.time-col {
    width: 6em;
}
.multi-track .track-col {
    width: 100vw;
}

tbody:not(.row-group) tr:has(.now),
tbody.row-group:has(.now) {
    border: 8px solid var(--secondary);
}

p {
    font-size: 1.2rem;
}

.event-type {
    display: block;
    font: 1.2rem var(--label-font-family);
}

.event:has(.event-name) .event-type {
    font-size: 0.9rem;
}

tr.break .event-type {
    font-size: 0.9rem;
}

.event-name {
    display: block;
    margin-top: 0.5ex;
    font: var(--title-font);

    hyphens: auto;
    overflow-wrap: break-word;
}

.event-duration {
    font-size: 0.9rem;
    font-weight: normal;
}

.authors {
    display: block;
}

ol {
    font-family: var(--label-font-family);
    padding-inline-start: 2em;
}

li + li {
    margin-top: 4ex;
}

form {
    font-family: var(--label-font-family);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
