:root {
    --foreground: #2d2103;
    --background: #fff9e9;
    --link: #1363ae;
    background-color: var(--background);
    color: var(--foreground);
}

a {
    color: var(--link);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #aaa084;
        --background: #2f1e02;
        --link: #10c8dc;
    }
}

main {
    max-width: min(1000px, 100vw);
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border: 8px solid var(--foreground);
}

table > caption {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

tr {
    border-bottom: 1px solid var(--foreground);
}

th,
td {
    padding: 0.5em;
}

tr > :nth-child(3) {
    border-left: 2px dashed var(--foreground);
}

tr > th:first-child,
thead > tr > :first-child {
    border-right: 4px solid var(--foreground);
}
