:root {
    --foreground: #512406;
    --secondary: #dd6413;
    --background: #fff9e9;
    --link: #1363ae;
    background-color: var(--background);
    color: var(--foreground);
    transition:
        color 0.2s,
        background-color 0.2s;

    --label-font-family: sans-serif;

    --title-font-family: Palatino, Palatino Linotype, Palatino LT STD,
        Book Antiqua, Georgia, serif;

    --title-font: 1.6rem/1.4 var(--title-font-family);
    --time-col-width: 7rem;
    --now-border-width: 8px;
}

:root {
    /*
        Fix for weird Safari iOS behaviour that increases font size inside
        overflowing table. idek.
    */
    -webkit-text-size-adjust: 100%;
}

:root:has(#sans-serif-pls:checked) {
    --title-font-family: sans-serif;
    --label-font-family: sans-serif;
    --title-font: bold 1.2rem/1.4 var(--title-font-family);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #b8ab99;
        --background: #33170d;
        --secondary: #da521c;
        --link: #e2a93e;
    }
}

:root:has(#dark-mode-pls:checked) {
    --foreground: #b8ab99;
    --background: #33170d;
    --secondary: #da521c;
    --link: #e2a93e;
}

@media screen and (max-width: 900px) {
    :root {
        --title-font: bold 1.2rem/1.4 var(--title-font-family);
    }
}

.track-table {
    display: none;
}

:root:has(#one-column-pls:checked) .track-table {
    display: initial;
}

:root:has(#one-column-pls:checked) .big-table {
    display: none;
}

a {
    transition: color 0.2s;
    color: var(--link);
}

main {
    max-width: min(1000px, 100vw);
    margin: 0 auto;

    font: 1rem/1.4 var(--title-font-family);
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0 0 2ex 0;
    /* leave space for now-border*/
    border-color: transparent;
    border-style: solid;
    border-left-width: var(--now-border-width);
    border-right-width: var(--now-border-width);
}

table.multi-track {
    /* -1px to prevent rounding issues */
    min-width: calc(600px + var(--time-col-width) - 1px);
}

.sched-section {
    overflow-x: auto;
}

table.single-track {
    /* -1px to prevent rounding issues */
    min-width: calc(300px + var(--time-col-width) - 1px);
}

h2 {
    font: bold 1.3rem/1.5 var(--label-font-family);
    text-align: left;
}

th {
    font-family: var(--label-font-family);
}

thead th,
thead td {
    padding: 0.5ex 1em;
}

tbody th,
tbody td {
    vertical-align: baseline;
}

tbody td {
    padding: 2ex 1em;
}

tbody th {
    padding: 2ex 0.4em;
}

thead tr:not(:first-child) th,
thead th:not(:first-child) {
    text-align: left;
}

thead {
    border-bottom: 2px solid var(--secondary);
}

tbody:not(:last-child) tr,
tbody:last-child tr:not(:last-child) {
    border-bottom: 1px solid var(--secondary);
}

col + col,
colgroup + colgroup {
    border-left: 1px dashed var(--secondary);
}

.time-col {
    width: var(--time-col-width);
}
.multi-track .track-col {
    width: 100vw;
}

tbody:not(.row-group) tr:has(time.now),
tbody.row-group:has(time.now) {
    border: var(--now-border-width) solid var(--secondary);
}

p {
    font-size: 1.2rem;
}

.event-type {
    display: block;
    font: 1.2rem var(--label-font-family);
}

.event:has(> .event-name) .event-type,
tr.break .event-type {
    font: 1rem var(--label-font-family);
}

.event-name {
    display: block;
    margin-top: 0.5ex;
    font: var(--title-font);

    hyphens: auto;
    overflow-wrap: break-word;
}

time,
.event-duration {
    font-size: 1rem;
    font-weight: normal;
}

time.now {
    font-weight: bold;
}

.event-duration {
    padding-inline-start: 0.2em;
}

.authors {
    display: block;
    font-family: var(--title-font-family);
}

ol {
    font-family: var(--label-font-family);

    padding-inline-start: 2em;
}

li + li {
    margin-top: 4ex;
}

form,
.setting {
    font-family: var(--label-font-family);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.4ex 0;
}
